<div class="box-login">
	<%= link_to image_tag("ayoshii-grande.gif", class: "center-block"), "http://www.ayoshii.com.br"  %>

	<%= simple_form_for(resource, html: {class: 'form-signin' }, 
	defaults: { label: false, input_html: {class: "text-center"}}, :as =>
	resource_name, :url => session_path(resource_name)) do |f| %>

	<%= content_tag(:div, flash[:error], class: "alert alert-danger", :id => "flash_error") if flash[:error] %>
	<%= content_tag(:div, flash[:notice], class: "alert alert-success", :id => "flash_notice") if flash[:notice] %>
	<%= content_tag(:div, flash[:alert], class: "alert alert-warning", :id =>"flash_alert") if flash[:alert] %>
	<div class="form-inputs">

		<%= f.input :email, placeholder: t(:email, scope: [:activerecord, :attributes, :user]), :autofocus => true %>
		<%= f.input :password, placeholder: t(:password, scope: [:activerecord, :attributes, :user]) %></div>

	<div class="form-actions">
		<%= f.button :submit, t(:login, scope: [:helpers, :submit]), class: "btn btn-lg btn-primary btn-block" %></div>
	<% end %></div>
<%#= render "devise/shared/links" %>