<%= simple_form_for(@item, html: {class: 'form-horizontal' }, defaults: { label_html: { class: 'col-sm-2' }, right_col_html: { class: 'col-md-6' } } ) do |f| %>

<%= f.input :name %>
<%= f.input :barcode %>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), items_path, :class => 'btn' %>
</div>
<% end %>
